* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
    --light-blue: #ADD8E6;
    --yellow: #FFD700;
    --white: #FFFFFF;
    --dark-blue: #4682B4;
    --gray: #F5F5F5;
    --dark-gray: #333333;
}
.chat-app {
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 1000;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
}
.chat-header{
  width: 100vw;
  height: 10vh;
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  border-radius: 10px;
  border-bottom: 3px solid var(--yellow);
  
}
.messages-container {
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  padding: 5px;
}
.chat-input {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.chat-input input {
  width: 70%;
  height: auto;
  padding: 10px;
  border: 1px solid var(--yellow);
  font-size: 1rem;
  border-radius: 20px;
}
.chat-input button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: var(--dark-blue);
  color: white;
  transition: all .3s;
}
.chat-input button:hover {
  color: black;
  background: var(--light-blue);
}
.message-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}
.to {
  align-items: flex-end;
}

.from {
  align-items: flex-start;
}
.sender {
  font-size: 0.7rem;
  opacity: 0.7;
}
.message {
  padding: 10px 14px;
  max-width: 70%;           
  border-radius: 10px;
  word-wrap: break-word;
}
.to .message {
  background: rgba(0, 100, 0, 0.3);
}

.from .message {
  background: rgba(0, 0, 100, 0.3);
}
