#closetab, #closemvptab, #closepersporttab {
  width: 60px;
  height: 40px;
  padding: 5px;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1050;
  top: 0;
  right: 0;
  background: #FFD700;
  border: none;
  border-radius: 5px;
}
.full {
  position: fixed;          
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px;

  display: none;
  align-items: center;
  justify-content: center;
  
  overflow: auto;

  z-index: 1000;

  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}
.noover-flow {
  overflow: hidden;
}
#inner-box {
  max-width: 900px;
  height: 200px;
  border-radius: 20px;
  background: #FFD700;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#info-holder{
  max-width: 850px;
  padding: 20px;
  background: whitesmoke;
  margin: 10px;
  border-radius: 20px;
}
.del-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-danger {
  background: red;
  color: white;
}
#notifications {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 100%;
  color: white;
  display: none;
  place-content: center;
  font-size: 0.7rem;
}
.spcl {
  display: flex;
  align-items: center;
  gap: 5px;
}

